@import url("https://fonts.googleapis.com/css2?family=Andika&family=Inter:wght@100;300&family=Manrope:wght@500&family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rubik", sans-serif;
  text-decoration: none;
}
:root {
  --rang-text: #242a45;
}
body {
  padding: 0;
  margin: 0 auto;
  position: relative;
}
/*conus--------------------lest -right*/
#conus_right {
  position: absolute;
  width: 28%;
  height: 10%;
  z-index: -1;
  top: 336px;
  right: 0;
}

#conus_left {
  width: 50%;
  height: 10%;
  position: absolute;
  left: 0;
  top: 1160px;
  z-index: -1;
}

#iconka_header {
  display: none;
  height: 20px;
}
.container {
  max-width: 1900px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 60px 165px 116px 165px;
}
.navbar {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.navbar a {
  color: #242a45;
  font-family: Rubik;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1.5px;
}
.navbar button {
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1.5px;
  padding: 12px 32px;
  border-radius: 5px;
  background: #fa5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}

.main_top {
  display: flex;
  padding: 0px 93px 200px 165px;
  justify-content: space-between;
  gap: 68px;
}
.topleft_title {
  padding-top: 68px;
  max-width: 500px;
}
.topleft_title h1 {
  color: var(--rang-text);
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.15px;
}
.topleft_title p {
  margin-top: 24px;
  color: var(--rang-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}
.topleft_title button {
  padding: 10px 15px;
  margin-top: 42px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  border-radius: 5px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
#btn_white {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #f7f7f7;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  color: var(--rang-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-left: 48px;
}
.topright_img {
  max-width: 574px;
  height: 381px;
  border: 15px solid #3d3d3d;
  border-radius: 25px;
}
.topright_img img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*main center title----------------------*/
.main_senter_title {
  display: flex;
  max-width: 580px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0px 24px;
}
.main_senter_title h1 {
  color: var(--rang-text);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.1px;
}
.main_senter_title p {
  color: var(--rang-text);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  opacity: 0.5;
}

/*main center link-------------------*/
.main_center_link {
  display: flex;
  max-width: 750px;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 120px;
  margin-top: 72px;
  padding: 0px 24px;
}
.main_center_link a {
  opacity: 0.5px;
  color: var(--rang-text);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.533px;
}

/*main center container--------------------*/
.main_center_container {
  max-width: 100%;
  display: flex;
  padding: 72px 165px 238px 165px;
  justify-content: center;
  gap: 125px;
}
.left_center {
  max-width: 100%;
  height: 381px;
}
.left_center img {
  max-width: 100%;
  height: 100%;
}

.right_center {
  max-width: 445px;
  padding-top: 58px 24px;
}
.right_center h1 {
  color: var(--rang-text);
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.1px;
}
.right_center p {
  margin-top: 16px;
  color: var(--rang-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}
.right_center button {
  margin-top: 42px;
  border-radius: 5px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  padding: 10px 24px;
  border: none;
}
/*container_google*/
.container_google {
  display: flex;
  gap: 85px;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 97px;
  margin-bottom: 149px;
}
.container_google img {
  max-width: 100px;
  height: 100px;
}

.google_block {
  width: 280px;
  height: 371px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
  padding: 49px 24px 24px 24px;
}
.firefox_block {
  width: 280px;
  height: 371px;
  padding: 49px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}
.opera_block {
  width: 280px;
  height: 371px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}
.container_google_h2 {
  color: var(--rang-text);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-top: 32px;
}
.container_google_p {
  color: #242a45;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.5;
}
.container_google button {
  width: 232px;
  height: 48px;
  border-radius: 5px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  padding: 10px 34px;
  border: none;
  margin-top: 60px;
}
/*section_main _last---------------------*/
section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  padding: 56px 24px 156px 24px;
}
.down {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(75, 71, 71, 0.2);
}
.down h4 {
  color: var(--rang-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 20px;
}
.down span {
  padding-top: 20px;
}
.last_link {
  border-bottom: 1px solid rgba(75, 71, 71, 0.2);
  padding-bottom: 20px;
}
section button {
  width: 114px;
  height: 48px;
  border-radius: 5px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  border: none;
  margin-left: 213px;
  margin-top: 54px;
}
/*footer-----------------------*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  gap: 74px;
  background: #5267df;
}
.footer_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  text-align: center;
  gap: 24px;
  padding-top: 56px;
}
.footer_title span {
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 307.692% */
  letter-spacing: 5px;
}
.footer_title h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.1px;
}
.input_button {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.input_button input {
  width: 300px;
  height: 48px;
  border-radius: 5px;
  background: #fff;
  outline: none;
  border: none;
  color: rgba(36, 42, 69, 0.25);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  padding: 10px 0px 10px 20px;
}
.input_button button {
  border-radius: 5px;
  background: #fa5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  padding: 10px 24px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
}

/*footer _link*/
.footer_link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #242a45;
  padding: 32px 165px 35px 165px;
}
.links {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.links a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1.5px;
}
.icons {
  display: flex;
  gap: 32px;
}

/*medea screen start ------------*/
@media screen and (max-width: 1595px) {
  #conus_right {
    width: 33%;
    height: 10%;
  }

  #conus_left {
    width: 40%;
    height: 10%;
  }
}

@media screen and (max-width: 1280px) {
  #conus_left {
    width: 40%;
    height: 10%;
  }
}
@media screen and (max-width: 1236px) {
  .main_center_container {
    max-width: 100%;
    display: flex;
    padding: 72px 165px 238px 165px;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 1200px) {
  #conus_right {
    width: 30%;
    height: 10%;
  }

  #conus_left {
    width: 35%;
    height: 10%;
  }
}
@media screen and (max-width: 1161px) {
  #conus_left {
    width: 32%;
    height: 10%;
  }
}
@media screen and (max-width: 1024px) {
  #conus_right {
    width: 30%;
    height: 8 %;
  }
  #conus_left {
    width: 33%;
    height: 8%;
    top: 1160px;
  }
  .footer_link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 100px 35px 100px;
    gap: 48px;
  }
  .container_google {
    gap: 40px;
  }
}
/*media 996px ----------------*/
@media screen and (max-width: 996px) {
  #iconka_header {
    display: block;
  }
  header {
    padding: 40px 100px 116px 100px;
  }
  .navbar {
    display: none;
  }
  .main_top {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 180px;
    margin: auto;
  }
  .topleft_title {
    max-width: 90%;
  }
  .topright_img {
    margin: auto;
  }
  #conus_right {
    width: 70%;
    height: 7%;
  }
  #conus_left {
    width: 71%;
    height: 8%;
    top: 1850px;
  }
  .topleft_title {
    text-align: center;
  }

  .main_center_link {
    flex-direction: column;
    gap: 0px;
  }
  #first_link {
    color: var(--rang-text);
    opacity: 1;
  }
  .main_center_link a {
    border-top: 1px solid grey;
    opacity: 0.5;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #last_border {
    border-bottom: 1px solid grey;
    opacity: 0.5;
  }
  .main_center_container {
    flex-direction: column;
    max-width: 90%;
    margin: auto;
    padding: 40px 100px 116px 100px;
    margin-top: 72px;
  }
  .left_center {
    width: 100%;
    margin: auto;
  }
  .right_center {
    margin-top: 32px;
    text-align: center;
    max-width: 100%;
  }
  .container_google {
    gap: 40px;
  }
}

@media screen and (max-width: 935px) {
  .container_google {
    gap: 20px;
  }
}
@media screen and (max-width: 949px) {
  #conus_right {
  }

  #conus_left {
    top: 1870px;
  }
}
@media screen and (max-width: 895px) {
  .container_google {
    gap: 0px;
  }
}
@media screen and (max-width: 854px) {
  .container_google {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media screen and (max-width: 820px) {
  .main_center_container {
    max-width: 100%;
    display: flex;
    padding: 72px 165px 238px 165px;
    justify-content: center;
    gap: 125px;
  }
}
@media screen and (max-width: 768px) {
  #conus_left {
    top: 31.2%;
    height: 7%;
    width: 84%;
  }
  #conus_right {
    height: 6%;
    top: 297px;
  }

  header {
    padding: 45px 32px 86px 32px;
  }
  .main_top {
    padding: 0px 32px 96px 32px;
  }
  .main_center_container {
    margin: auto;
    padding: 72px 32px 87px 32px;
    gap: 69px;
  }
  .right_center button {
    margin-top: 15px;
  }
  .container_google {
    margin-top: 40px;
    margin-bottom: 140px;
    gap: 40px;
  }
  .opera_block {
    margin-top: 0px;
  }
  .footer_link {
    padding: 40px 32px 43px 32px;
  }
  .links {
    flex-direction: column;
  }
}
@media screen and (max-width: 765px) {
  #conus_left {
    top: 32.9%;
  }
}
@media screen and (max-width: 580px) {
  #conus_left {
    top: 32.7%;
  }
}
@media screen and (max-width: 560px) {
  #conus_left {
    top: 33%;
  }
}
@media screen and (max-width: 569px) {
  #conus_left {
    top: 33.3%;
  }
}

@media screen and (max-width: 548px) {
  #conus_left {
    top: 33%;
  }
}
@media screen and (max-width: 539px) {
  #conus_left {
    top: 33.4%;
  }
}
@media screen and (max-width: 526px) {
  #conus_left {
    top: 33.7%;
  }
}
@media screen and (max-width: 491px) {
  #conus_left {
    top: 33.4%;
  }
}
@media screen and (max-width: 474px) {
  #conus_left {
    top: 33.2%;
  }
}

@media screen and (max-width: 458px) {
  #conus_left {
    top: 34.1%;
  }
}
@media screen and (max-width: 455px) {
  #conus_left {
    top: 33.8%;
  }
}

@media screen and (max-width: 435px) {
  #conus_left {
    top: 34.1%;
  }
}
@media screen and (max-width: 419px) {
  #conus_left {
    top: 34%;
  }
}
@media screen and (max-width: 408px) {
  #conus_left {
    top: 33.8%;
  }
}

/*medea 420 420 420 420 420 420 MOBILEEEEEEEEEEEEEE*/

@media screen and (max-width: 458px) {
  #conus_left {
    top: 27.6%;
    width: 88%;
    height: 4%;
  }
  #conus_right {
    top: 4%;
    height: 4%;
  }
  header {
    padding: 40px 32px 81px 32px;
  }
  .main_top {
    padding: 0px 20px 96px 20px;
  }
  .topright_img {
    max-width: 300px;
    height: 204px;
    border: 15px solid #3d3d3d;
    border-radius: 25px;
  }
  .topleft_title {
    padding-top: 0px;
    max-width: 500px;
  }
  .topleft_title h1 {
    color: #242a45;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.094px;
  }
  .topleft_title p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 16px;
  }
  .topleft_title button {
    padding: 10px 16px;
    margin-top: 32px;
  }
  #btn_white {
    margin-left: 14px;
  }
  .main_senter_title h1 {
    font-size: 24px;
    letter-spacing: -0.075px;
  }
  .main_senter_title p {
    font-size: 15px;
    line-height: 25px;
  }
  .main_center_container {
    padding: 72px 0px 77px 0px;
    justify-content: center;
    gap: 69px;
  }
  .left_center {
    width: 311px;
    height: 201px;
  }
  section {
    padding: 56px 24px 123px 24px;
  }
  section button {
    margin-left: 26%;
    margin-top: 61px;
  }
  .footer_title {
    max-width: 100%;
    gap: 16px;
    padding-top: 60px;
  }
  .footer_title span {
    font-size: 12px;
  }
  .footer_title h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.1px;
  }
  .input_button {
    flex-direction: column;
  }
  .footer_link {
    padding: 40px 32px 43px 32px;
  }
  .links {
    flex-direction: column;
  }
}
@media screen and (max-width: 384px) {
  #conus_left {
    top: 27.4%;
  }
}
@media screen and (max-width: 381px) {
  #conus_left {
    top: 27.1%;
  }
}
@media screen and (max-width: 374px) {
  #conus_left {
    top: 26.9%;
  }
}
@media screen and (max-width: 367px) {
  #conus_left {
    top: 27.3%;
  }
}
@media screen and (max-width: 362px) {
  #conus_left {
    top: 28.4%;
  }
}
@media screen and (max-width: 362px) {
  #conus_left {
    top: 28.2%;
  }
}
@media screen and (max-width: 339px) {
  #conus_left {
    top: 28%;
  }
}
@media screen and (max-width: 339px) {
  #conus_left {
    top: 28.4%;
  }
}
@media screen and (max-width: 339px) {
  #conus_left {
    top: 28.9%;
  }
}
/*768 MEDEA MOBILEEEEEEEEEEEEEEEEEEE768 768 768 768*/

/*end*/
